.nametable {
  background-color: red;
  text-align: center;
  color: white;
}
.colortext {
  text-align: right;
  vertical-align: top;
  color: blue;
}
.tablecolor {
  text-align: left;
  color: red;
}
.last {
  text-align: center;
}
table {
  margin: auto;
  padding: 5px;
}
.big {
  border: 20px solid rgb(219, 246, 255);
}
