table{
    margin: auto;
    background-color: #FFFDA9;
    width: 40%;
    height: 300px;
}
.first{
    background-color: #D4FDD6;
    text-align: left;
    color: blue;   
}
.text{
    color: blue;
    vertical-align: top;
}
.name{
    width: 200px;
}
.birth{
    width: 100px;
}
.address{
    width: 150px;
    height: 50px;
}
.last{
    text-align: center;
}